<div class="row">
    <div>
        <h1>Третье задание.</h1>
        <img *ngIf="characterMood == ToneTypes.LITTLE_SMILE" class="standart-size-host" src="./assets/hostCharacter/little_smile.png">
        <img *ngIf="characterMood == ToneTypes.PHENOMINAL" class="standart-size-host" src="/assets/hostCharacter/phenominal.png">
        <img *ngIf="characterMood == ToneTypes.SAD" class="standart-size-host" src="/assets/hostCharacter/sad.png">
    </div>
    <div class="description">
        <h2>Рубрика вопрос-ответ!</h2>
        <h3>
            Ты уже почти у цели. Осталось совсем чуть-чуть. За каждый правильный ответ тебе будут капать 
            булочки на баланс :D
        </h3>

        <h2
            class="title">
            {{ currentQuestion.question }}
        </h2>

        <div
            tuiGroup
            class="group"
            [collapsed]="true">
            <tui-radio-block
                *ngFor="let answerItem of currentQuestion.answers"
                [formControl]="answer"
                [item]="answerItem">
                <div class="content">{{answerItem}}</div>
            </tui-radio-block>
        </div>

        <button
            class="button-answer"
            #buttonAnswer
            [appearance]="(this.currentQuestion.rightAnswer.includes(this.answer.value) && showLoaderButton) || !showLoaderButton ? 'primary' : 'accent'"
            [showLoader]="showLoaderButton"
            (click)="giveAnswer();" 
            tuiButton>
            Ответить
        </button>

        
    </div>
</div>
