h3 {
    word-wrap: break-word;
}

.wrapper {
    position: relative;
    height: calc(100vh - 20px);
    margin: 10px;
}

.encryption {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: darkslategray;
    cursor: not-allowed;
}

.title {
    position: absolute;
    top: 40%;
    font-size: 25px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    transform: rotate(45deg);
}

.hack  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}