.row {
    display: flex;
    justify-content: space-between;
}

.level {
    width: 80vw;
    height: 100vh;
    padding: 25px;
    box-sizing: border-box;
    background-color: bisque;
}

.celebration-message  {
    width: calc(20vw - 10px);
    background-color: bisque;
}
