.row {
    display: flex;
    justify-content: space-between;
}

.level {
    width: 70vw;
    padding: 25px;
    margin: 15px;
    box-sizing: border-box;
    background-color: bisque;
}

.celebration-message  {
    width: calc(30vw - 15px - 15px - 20px);
    padding: 25px;
    margin: 15px;
    box-sizing: border-box;
    background-color: bisque;
}
