<div #main class="main" (scroll)="$event.preventDefault(); $event.stopPropagation();">
    <h1>Над игрой работали</h1>
    <h2>Игровой режиссёр: Олег</h2>
    <h2>Сценарист: Чмоня</h2>
    <h2>Разработчик: tors</h2>
    <h2>Дизайнер: 40oleg</h2>
    <h2>Project-менеджер: Гуня</h2>
    <h2>Тестировщик: Kront</h2>
    <h2>Вдохновитель: Замечательная Екатерина</h2>
    <h2 class="padding800">Звукорежиссёр: Олегатор</h2>

    <h1 class="padding50">Конец!</h1>
    <h3 class="padding150">Спасибо за уделённое внимание</h3>
</div>