<tui-loader [overlay]="true" [showLoader]="isLoading$.value">
    <div class="centered">
        <img src="/assets/hostCharacter/derisive.png" width="250px">
        <div class="centered-text">
            Хаха! Думала я отдам его тебе так просто? Я вредный-вредный Котялок! Просто так ничего не отдам.
            Чтобы получить поздравление Олега тебе нужно будет сыграть со мной в игру.
            Правила у моей игры такие:
            <p>1) Изначально ты будешь видеть только зашифрованное поздравление.</p>
            <p>2) Ты будешь должна пройти 3 мини-игры, чтобы заработать очки. Всего нужно заработать 100 очков.</p>
            <p>3) Чем больше ты заработаешь очков, тем больше ты будешь видешь расшифрованного текста поздравления. То
                есть в принципе, после первой игры имея у себя, скажем, 30 очков, ты будешь видеть одну треть
                поздравления Олега. Но читать его будет очень сложно, из-за того что много букв ещё зашифровано. Это я
                тебе объясняю для понимая работы моей игры.</p>
            <p>4) Нужно расслабиться и улыбаться :D</p>
        </div>
        <div class="row justify">
            <button 
                #understandButton 
                (click)="submit(5)" 
                tuiButton>Я поняла, большое спасибо Котялок!</button>
            <button 
                #harmfulButton 
                (click)="submit(0)" 
                tuiButton
                appearance="accent">Ты вредина!</button>
        </div>
    </div>
</tui-loader>