<tui-loader [overlay]="true" [showLoader]="isLoading$.value">
    <div class="centered">
        <img src="/assets/hostCharacter/derisive.png" width="250px">
        <div class="centered-text">
            Хаха! Думала я отдам его тебе так просто? Я вредный-вредный Котялок!) Просто так ничего не отдам.
            Чтобы получить поздравление Олега тебе нужно будет сыграть со мной в игру.
            Правила у моей игры такие:
            <p>1) Поздравление зашифровано! Тебе нужно расшифровать его. </p>
            <p>2) Ты будешь должна пройти 3 мини-игры и набрать 100 булочек с корицей. </p>
            <p>3) Правила игр просты, поэтому сложно не будет! </p>
            <p>4) Нужно расслабиться и улыбаться :D </p>
        </div>
        <div class="row justify">
            <button
                tuiHintDirection="bottom-middle"
                [tuiHintShowDelay]="200"
                [tuiHint]="tooltipReward"
                #understandButton 
                (click)="submit(5)" 
                tuiButton>Я поняла, большое спасибо Котялок!</button>
            <button
                tuiHintDirection="bottom-middle"
                tuiHintMode="error"
                [tuiHintShowDelay]="200"
                [tuiHint]="tooltipOffensive"
                #harmfulButton 
                (click)="submit(0)" 
                tuiButton
                appearance="accent">Ты вредина!</button>
        </div>
        <ng-template #tooltipReward>
            <div>Может быть если ты похвалишь Котялка он поможешь тебе чем нибудь?</div>
        </ng-template>
        <ng-template #tooltipOffensive>
            <div>Вдруг котялок будет вставлять палки в колёса если нахамить ему.....</div>
        </ng-template>
    </div>
</tui-loader>