<div class="score">
    <tui-island
        [hoverable]="true"
        tuiHintDirection="left"
        [tuiHint]="tooltip"
        >
        <div class="row">
            <div><img class="image-score" src="./assets/environment/cinnamon-bun.png"></div>
            <h1>
                {{scoreCounter}} / 100
            </h1>
        </div>
        <ng-template #tooltip>
            <div class="row">
            <div><img width="50px" src="./assets/hostCharacter/derisive.png"></div>
            У тебя {{scoreCounter}} булочек, наберешь 100, сможешь увидеть поздравление
        </div>
        </ng-template>
    </tui-island>
</div>